//colors

$col-defaultColor:black;
$col-body:white;
$col-footerBgr:rgb(114, 114, 114);

//header
$col-aLinks:black;
$col-aLinksHover:#fa709a;

//main
$col-greybox:#cacacada;

//footer
$col-fbIcon:#1975ed;

